$light-blue: #1DE4FF;
$purple: #2c183a;
$light-purple: rgb(230, 218, 239);
$background-color: #160B1E;

p {
  color: $light-purple;
}

.drink-details {
  position: relative;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

mat-icon, material-icons {
  height: 38px;
  width: 38px;
  font-size: 45px;
}

.icon-selected {
  color: red;
}

.icon-selected svg {
  fill: red;
}

.icon-not-selected svg {
  fill: white;
  border: solid;
  border-color: red;
}

// .icon-not-selected {
//   fill: white !important;
// }

button {
  background-color: $purple;
  border: none;
}

// .icon-checked {
//   fill: red !important;
// }

.alert-success {
  background-color: $purple;
  border-style: none;
  color: $light-purple;
  margin-left: 5vw;
  margin-right: 5vw;
}

.list-group, .list-group-item {
  background-color: $purple;
  border-style: none;
  color: $light-purple;
}


p, h4 {
  font-size: 500 !important;
}

#name-and-icon {
  display: block;
  button {
    float: right;
  }
}
