<div class="content">

  <div class="drink-details" *ngIf="drinkDetails !== undefined">
    <div class="row">
      <div class="col-sm-6" style="padding-left: 10vw">
        <img class="card-img-top" style="width: 500px" src={{drinkDetails.strDrinkThumb}} alt="Cocktail photo">
      </div>
      <div class="col-sm-4 alert alert-success" role="alert">
        <div id="name-and-icon">
          <h1 >{{ drinkDetails.strDrink }}</h1>
          <button class="topright" (click)="changeFavouriteState()" mat-icon-button>
            <mat-icon [ngStyle]="{'color': iconColor}" aria-hidden="false" class="icon-not-selected" aria-label="Example home icon">favorite</mat-icon>
          </button>
        </div>

        <h2 *ngIf="drinkDetails.strDrinkAlternate !== null" class="mb-0">{{ drinkDetails.strDrinkAlternate }}</h2>
        <p style="font-weight: bold">Alcoholic category: {{ drinkDetails.strAlcoholic }}</p>
        <hr>
        <h2 class="mb-0">Ingredients:</h2>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredient of ingredientsAndMeasures">
            {{ingredient.name}}: {{ingredient.measure}}
          </li>
        </ul>
        <hr>
        <h2 class="mb-0">Instructions:</h2>
        <p style="margin-left: 15px"> {{ drinkDetails.strInstructions }}</p>
        <hr>
        <h2 class="mb-0">Suggested glass:</h2>
        <p style="margin-left: 15px"> {{ drinkDetails.strGlass }}</p>
      </div>
    </div>
  </div>



