
$background-color: #160B1E;
$light-blue: #1DE4FF;

#nav-menu {
  font-size: 1.5em;
  font-weight: bold;
  font-family:'Roboto';
  height:11vh;
  padding-top: 4vh;
  padding-bottom: 4vh;
  background-color: $background-color;
}

li a {
  color: $light-blue !important;
  background-color: $background-color;
}

.navbar {
  z-index: 9999;
}

ul > li {
  margin-left: 20px;
  margin-right: 40px;
}

