<nav id="nav-menu" class="navbar fixed-top navbar-expand-lg navbar-dark flex-md-row">
  <a class="navbar-brand" href="/home">
    <img src="../assets/images/drinkme-logo-neon.png" width="100" height="100" class="d-inline-block align-top" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon customized-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/drinks" routerLinkActive="active">Drinks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/favourites" routerLinkActive="active">Favourites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/articles" routerLinkActive="active">Articles</a>
      </li>
    </ul>
  </div>
</nav>
