/* You can add global styles to this file, and also import other style files */

$background-color: #160B1E;
$light-blue: #1DE4FF;
$pink-neon: #ff009d;

$btn-outline-primary-color: #ff009d;
$btn-outline-primary-hover-color: $light-blue;

.content {
  padding-top: 15vh;
}

nav .nav-link.active {
  color: $light-blue;
}

html, body { height: 100%; }

body {
  background-color: $background-color !important;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-outline-primary {
  color: $btn-outline-primary-color !important;
  border-color: $btn-outline-primary-color !important;
}

.btn-outline-primary:hover {
  color: $btn-outline-primary-hover-color !important;
  background-color: $btn-outline-primary-color !important;
}

.navbar-nav .nav-link{
  text-align: center;
  align-content: center;
  width: 10vw;
  border: none;
}

.active {
  background-color: $pink-neon;
  border: solid;
  border-color: $pink-neon;
  text-decoration: none;
  border-radius: 5px;
}

.navbar-nav .nav-link.active {
  background-color: $pink-neon;
  border: none;
  // border: solid;
  // border-color: $pink-neon;
  text-decoration: none;
  border-radius: 5px;
}


// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
