$light-blue: #1DE4FF;
$neon-red: #FF1700;
$purple: #2c183a;
$pink-neon: #ff009d;
$background-color: #160B1E;

.row {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 2vh;

  .col-sm-4 {
    padding-left: 3vw;
    padding-right: 3vw;

    .card {
      background-color: $purple;
      color: $light-blue;
    }
  }
}

.h5 {
  font-size: 600;
}

.nav-menu-drinks {
  margin-left: 10vw;
  margin-bottom: 2vh;
  button {
    margin-left: 2vw;
    color: $light-blue;
    border: none;
    background-color: $background-color;
    font-weight: 500;
  }
  .selected {
    background-color: $pink-neon;
  }
}

